<configuration scan="true" scanPeriod="10 seconds">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.zandero.rest" level="DEBUG" />

    <!-- Setting level to debug will show all logs produced -->
    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>